@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lato:ital,wght@1,300&display=swap');
*
{
	margin: 0;
	padding: 0;
}
body
{
	background: url(scholar1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
img
{
	width: 150px;
	height: 150px;
}
.form div
{
	width: 800px;
	height: auto;
	padding: 0 0 2% 0;
}
.details{
	text-align: left;
}
div h1
{
	font-size: 50px;
	/*font-family: 'Lato', sans-serif;*/
	text-align: center;
	color: #000;
}
div h2
{
	font-size: 40px;
	font-family: 'Lato', sans-serif;
}
div label
{
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
div input[type="text"]
{
	font-family: 'Lato', sans-serif;
	width: 200px;
	height: 30px;
	border: 2px solid black;
	background: rgb(255 255 255/.8);
}
div input[type="email"]
{
	width: 200px;
	height: 30px;
	border: 2px solid black;
	background: rgb(255 255 255/.8);
}
select[type="text"]
{
	width: 200px;
	height: 30px;
	border: 2px solid black;
	background: rgb(255 255 255/.8);
}
button
{
	width: 150px;
	height: 40px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	border-radius: 28px;
	border: 2px solid white;
	background: transparent;
	font-weight: bold;
}
button:hover
{
	background: white;
}
.btn
{
	width: 200px;
	height: 70px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	border-radius: 28px;
	border: 2px solid rgb(0 153 255);
	background: rgb(0 153 255/.5);
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 2%;
}
